/************
GENERAL
*************/
body{
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 14px;
}

section{
    padding: 2rem 0;
}

h2{
    padding-bottom: calc(1.325rem + .9vw);
}

h6{
    padding-bottom: .5rem;
}

img{
    width: 100%;
    display: block;
}

/************
UTILITIES
*************/

/************
SECTIONS
*************/
/* header */
/* nav */
.sony-bar{
    background-color: black;
    height: 30px;
}

.sony-logo-container{
    width: 8vw;
    margin-left: auto;
}

#playstation-logo-size {
    width: calc(1.375rem + 1.5vw);
}

.position-sticky{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

/* returnal */
.returnal-bg {
    background-image: url("../img/returnal-bg.webp");
    background-position-x: center;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.returnal-logo-img {
    width: 60%;
    padding-top: 35vh;
}

/* main*/
/* t-takes-two */
.bg-takes-two{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

/* store */
.store img{
    padding-bottom: .5rem;
}

/* playstation-plus */
.bg-beige{
    background-color: #bebcbb;
}

/* playstation-now */
.bg-dark-blue{
    background-color: #161c3b;
}

/* social */
.social img{
    padding-bottom: 1.5rem;
}

/* footer */

footer a{
    color: white;
    text-decoration: none;
}

footer li{
    list-style: none;
}

.sie-logo{
    width: 10vh;
}