/************
GENERAL
*************/
body{
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 14px;
}

section{
    padding: 2rem 0;
}

h2{
    padding-bottom: calc(1.325rem + .9vw);
}

h6{
    padding-bottom: .5rem;
}

img{
    width: 100%;
    display: block;
}

/************
UTILITIES
*************/
.btn-outline-secondary{
    --bs-btn-hover-bg: #6c757d00;
    --bs-btn-active-bg: #6c757d00;
    --bs-btn-hover-color: #2d64e6;
    --bs-btn-active-color: #102f77;
    --bs-btn-color: #000000;
    font-weight: bold;
}

.btn-danger {
    --bs-btn-bg: #cd3d0f;
    --bs-btn-border-color: #cd3d0f; 
    --bs-btn-hover-bg: #af4421;
    --bs-btn-hover-border-color: #af4421;
    --bs-btn-focus-shadow-rgb: 205, 61, 15;  
    --bs-btn-active-bg: #fa5822;
    --bs-btn-active-border-color: #fa5822;
    --bs-btn-disabled-bg: #cd3d0f;
    --bs-btn-disabled-border-color: #cd3d0f;
    font-weight: bold;
}

.btn-primary {
    
    --bs-btn-bg: #2d64e6;
    --bs-btn-border-color: #0d6efd;
  
    --bs-btn-hover-bg: #2554c0;
    --bs-btn-hover-border-color: #2554c0;
    --bs-btn-focus-shadow-rgb: 45, 100, 230;
  
    --bs-btn-active-bg: #3582f5;
    --bs-btn-active-border-color: #3582f5;

    --bs-btn-disabled-bg: #2d64e6;
    --bs-btn-disabled-border-color: #2d64e6;
    font-weight: bold;
}

button:hover {
    transform: scale(1.08);

}



.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255 , 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

/************
SECTIONS
*************/
/* header */
/* nav */
.sony-bar {
    background-color: black;
    height: 20px;
}

.sony-logo-container {
    width: 6vw;
    margin-left: auto;
}

#playstation-logo-size {
    width: calc(1.375rem + 1.5vw);
}

.position-sticky {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

/* returnal */
.returnal-bg {
    background-image: url("../img/returnal-bg.webp");
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.returnal-logo-img {
    width: 60%;
    padding-top: 200px;
}

/* cards*/
.card:hover .overlay{
    display: none;
}

.card:hover{
    box-shadow: 0px 15px 10px -5px ;
}

.card {
    transition: transform 3s linear .3s;
}

.card:hover {
    --bs-card-border-width: 3px;
    --bs-card-border-color: rgb(225, 225, 255);
    border: var(--bs-card-border-width) solid #0474cf;
    padding: 0.3rem 0.3rem;
    border-radius: 0.5rem;
    transform: scale( 1.05);
    transform: translate(0px, -18px);
    margin-bottom: -8px;
}

/* playstation5 */
.playstation5 img {
    width: 65%;
    margin: auto;
    padding-bottom: 1rem;
}



.playstation5 .col-4:hover{
    transform: scale(1.05);
    border-bottom: 3px solid #2d64e6;
    margin-bottom: -8px;
}

.playstation5 .col-4:hover .overlay{
    display: none;
}

/* it-takes-two */
.bg-takes-two {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

/* store */
.store img {
    margin-bottom: .9rem;
    border-radius: 25px;
}

.store [class^="col"] > div:hover{
    transform: scale(1.02);
}

.store [class^="col"] div > img:hover{
    box-shadow: 0px 5px 15px -5px #4e4e4e;
}
/* playstation-plus */
.bg-beige {
    background-color: #bebcbb;
}

/* playstation-now */
.bg-dark-blue {
    background-color: #161c3b;
}

/* social */
.social img {
    padding-bottom: 1.5rem;
}

/* footer */

footer a {
    color: white;
    text-decoration: none;
}

footer li {
    list-style: none;
}

.sie-logo {
    width: 10vh;
}